<app-toast></app-toast>
<div class="card">
  <div class="card-body p-2">
    <form method="post" role="form" enctype="multipart/form-data" (ngSubmit)="onSubmit($event)" class="php-email-form"
          [formGroup]="form">
      <div class="row g-2">

        <div class="col-12 col-lg-12 col-md-6 form-group">
          <input type="text" formControlName="name" name="name" class="form-control" id="name{{work.id}}"
                 placeholder="{{'section\.contact\.name'|translate}}*" required
                 [attr.aria-describedby]="'v-name' + work.id"
                 [class.is-invalid]="form.get('name')?.hasError('required') && form.get('name')?.touched">
          <div id="v-name{{work.id}}" class="invalid-feedback">
            <p class="mb-0" [class.d-none]="!form.get('name')?.hasError('required') && form.get('name')?.touched">
              {{'work_with_us\.form\.required_message'|translate}}</p>
          </div>
        </div>

        <div class="col-12 col-lg-12 col-md-6 form-group ">
          <input type="email" formControlName="email" class="form-control" name="email" id="email{{work.id}}"
                 placeholder="{{'section\.contact\.correo'|translate}}*" required
                 [attr.aria-describedby]="'v-email' + work.id"
                 [class.is-invalid]="(form.get('email')?.hasError('required') ||
                 form.get('email')?.hasError('email')) && form.get('email')?.touched">
          <div id="v-email{{work.id}}" class="invalid-feedback">
            <p class="mb-0" [class.d-none]="!form.get('email')?.hasError('required') && form.get('email')?.touched">
              {{'work_with_us\.form\.required_message'|translate}}</p>
            <p class="mb-0" [class.d-none]="!form.get('email')?.hasError('email') && form.get('email')?.touched">
              {{'work_with_us\.form\.invalid_message'|translate}}</p>
          </div>
        </div>

        <div class="col-12 col-lg-12 col-md-6 form-group ">
          <input type="text" formControlName="tel" maxlength="15" class="form-control" name="tel" id="tel{{work.id}}"
                 placeholder="{{'section\.contact\.tel'|translate}}">
        </div>
        <div class="col-12 col-lg-12 col-md-6 form-group ">
          <input type="text" formControlName="sector" class="form-control" name="sector" id="sector{{work.id}}"
                 placeholder="{{'work_with_us\.comercial'|translate}}">
        </div>

        <div class="form-group col-12">
            <textarea class="form-control" formControlName="business_offer" name="business_offer" rows="3"
                      placeholder="{{'work_with_us\.form\.bussiness_offer'|translate}}" required
                      [attr.aria-describedby]="'v-business_offer' + work.id"
                      [class.is-invalid]="form.get('business_offer')?.hasError('required') && form.get('business_offer')?.touched">
            </textarea>
          <div id="v-business_offer{{work.id}}" class="invalid-feedback">
            <p class="mb-0" [class.d-none]="!form.get('business_offer')?.hasError('required')
            && form.get('business_offer')?.touched">{{'work_with_us\.form\.required_message'|translate}}</p>
          </div>
        </div>

        <div class="form-group col-12 mb-2">
            <textarea class="form-control" formControlName="others" name="others" rows="3"
                      placeholder="{{'work_with_us\.form\.otros_datos'|translate}}"></textarea>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          {{'btnEnviar'|translate}} <i *ngIf="!loading" class="bx bi-send-fill"></i>
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status"
                aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </div>
</div>
