<!-- ======= Terms and Privacy Police Section ======= -->
<div id="about"></div>
<section id="terms" class="terms pb-0">
  <div class="container-xl">
    <div class="section-title">
      <span>{{'terms\.title'|translate}}</span>
      <h2>{{'terms\.title'|translate}}</h2>
      <p *ngIf="!loadingTerms">{{'privacy\.date'|translate:{
        day: get_day(dataTerms.effective_date),
        month: get_month(dataTerms.effective_date),
        year: get_year(dataTerms.effective_date)
      } }}</p>
    </div>
    <div *ngIf="!loadingTerms" [innerHTML]="safeHtmlService.getSafeHtml(dataTerms.content)"></div>
  </div>
  <app-loader *ngIf="loadingTerms"></app-loader>
</section>

<!-- ======= Terms and Privacy Police Section ======= -->
<section id="privacy" class="privacy">
  <div class="container-xl">
    <div class="section-title">
      <span>{{'privacy\.title'|translate}}</span>
      <h2>{{'privacy\.title'|translate}}</h2>
      <p *ngIf="!loadingTerms">{{'privacy\.date'|translate:{
        day: get_day(dataTerms.effective_date),
        month: get_month(dataTerms.effective_date),
        year: get_year(dataTerms.effective_date)
      } }}</p>
    </div>
    <div *ngIf="!loadingPolice" [innerHTML]="safeHtmlService.getSafeHtml(dataPrivacy.content)"></div>
  </div>
  <app-loader *ngIf="loadingPolice"></app-loader>
</section>
