<div id="about"></div>
<section id="works" class="works">
  <div class="container">
    <div class="section-title">
      <span>{{header.title}}</span>
      <h2>{{header.title}}</h2>
      <p *ngIf="header.subtitle">{{header.subtitle}}</p>
    </div>
    <h2 *ngIf="!loadingWorks && !list_works.length" class="text-engimov-blue text-center">
      {{'work_with_us\.message_empty'|translate}}</h2>
    <app-loader *ngIf="loadingWorks"></app-loader>
    <div class="row gy-5 portfolio-container" *ngIf="!loadingWorks" data-aos="fade-up" data-aos-delay="150">
      <div class="col-12 col-lg-6" *ngFor="let work of list_works">
        <app-work [work]="work"></app-work>
      </div>
    </div>
    <br>
  </div>
</section>

