<!-- ======= Hero Section ======= -->
<section id="hero" [style.background-image]="!this.loading? 'none': 'url('+image+')'">
  <!--<section id="hero" style="background: url({{image}})">-->
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
    <div *ngIf="!this.loading">
      <h1 class="placeholder-glow placeholder-lg">
        <span class="placeholder col-2 bg-light"></span>
      </h1>
      <h2 class="placeholder-glow placeholder-lg">
        <span class="placeholder w-75 bg-light"></span>
        <span class="placeholder w-50 bg-light"></span>
      </h2>
    </div>
    <div *ngIf="this.loading" data-aos="fade-up" data-aos-delay="1">
      <h1>{{this.title}}</h1>
      <h2>{{this.subtitle}}</h2>
    </div>
    <a href="#about" class="btn-get-started scrollto">
      <span class="spinner-border spinner-border-sm" role="status"
            aria-hidden="true" *ngIf="!loading"></span> Comenzar</a>
  </div>
</section>
