<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <span>{{headerProducts.title}}</span>
      <h2>{{headerProducts.title}}</h2>
      <p *ngIf="headerProducts.subtitle">{{headerProducts.subtitle}}</p>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-lg-12 d-flex justify-content-center">
        <!--<ul id="portfolio-flters">
          <li data-filter="*" class="filter-active" (click)="filterProducts('*',0 )">Todos</li>
          <li *ngFor="let cat of listCategories;let i=index" class="" [attr.data-filter]="'.a' + cat.id"
              (click)="filterProducts(cat.id.toString(),i+1)">{{cat.name}}</li>
        </ul>-->
        <div class=""><h2>AKi van los filters </h2></div>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
      <app-loader *ngIf="loading"></app-loader>
      <div class="col" *ngIf="!loading">
        <app-list-grid-products [listProducts]="listProducts"></app-list-grid-products>
      </div>
      <div class="col" *ngIf="!loading">
        <app-list-table-products [listProducts]="listProducts"></app-list-table-products>
      </div>
    </div>

  </div>
</section><!-- End Portfolio Section -->
<!--<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{objectModal.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body p-0">
    <div class="img-fluid imgProdDetails"
         style="background: url('{{objectModal.image}}') rgba(25, 25, 25, 0.95);"></div>
    <div class="card rounded-0">
      &lt;!&ndash;      <img src="{{objectModal.image}}" alt="Imagen del Producto" class="card-img-top rounded-0 img-fluid">&ndash;&gt;

      <div class="card-body">
        <h5 class="card-title">{{objectModal.category.name}}</h5>
        <p class="card-text">{{objectModal.description}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a role="button" class="btn-engimov" (click)="c('Save click')">Cerrar</a>
  </div>
</ng-template>-->


