<section id="portfolio" class="portfolio bg-light">
  <div class="container">

    <div class="section-title">
      <span>{{header.title}}</span>
      <h2>{{header.title}}</h2>
      <p *ngIf="header.subtitle">{{header.subtitle}}</p>
    </div>
    <div class="card">
      <div class="card-body rounded-0 g-1 row">
        <div class="view-mode col-12 col-md-6 d-flex align-items-center">
          <input type="radio" class="btn-check" name="view_mode" id="option2" value="cards" autocomplete="off"
                 [checked]="viewMode=='cards'" (change)="changeViewMode()" [(ngModel)]="viewMode">
          <label class="btn mx-1" for="option2"><i class="bi text-black-50 bi-grid-3x3-gap"></i> <span
            class=""> Tarjetas</span></label>
          <!--          <hr class="vr mx-1 align-middle">-->
          <input type="radio" class="btn-check" name="view_mode" value="table" id="option1" autocomplete="off"
                 [checked]="viewMode=='table'" (change)="changeViewMode()" [(ngModel)]="viewMode">
          <label class="btn mx-1" for="option1"><i class="bx bi-list"></i>
            <span class=""> Tabla</span></label>
        </div>
        <div class="text-start text-md-end col-12 col-md-6">
          <select class="form-select mx-1 d-inline w-auto" aria-label="Orden select" (change)="filterAndOrder()"
                  [(ngModel)]="order_by">
            <option selected value="-1">Ordenar por</option>
            <option value="down">Mayor precio</option>
            <option value="up">Menor precio</option>
            <option value="asc">A...Z</option>
            <option value="desc">Z...A</option>
          </select>
          <hr class="vr align-middle">
          <select class="form-select mx-1 d-inline w-auto" name="category_filter" aria-label="Filter select"
                  (change)="filterAndOrder()" [(ngModel)]="category_filter">
            <option selected value="-1">Filtrar por</option>
            <option value="{{cat.id}}" *ngFor="let cat of listCategories">{{cat.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <hr class="">
  </div>
  <app-loader *ngIf="loading"></app-loader>
  <app-list-grid-products (eventModal)="openModal($event, content)" *ngIf="!loading && viewMode=='cards'"
                          [listProducts]="listProducts"></app-list-grid-products>
  <app-list-table-products (eventModal)="openModal($event, content)" *ngIf="!loading && viewMode=='table'"
                           [listProducts]="listProducts"></app-list-table-products>

<!--    <ngb-pagination
      class="d-flex justify-content-center"
      (pageChange)="getPageFromService()"
      [pageSize]="10"
      [collectionSize]="collectionSize"
      [(page)]="page"
      (click)="changePage($event.target)"
      [boundaryLinks]="true">
    </ngb-pagination>-->
  <br>
  <div *ngIf="!loading" class="">
    <ul class="pagination mb-0 flex-wrap g-2 justify-content-center">
      <li class="page-item">
        <a class="page-link" [class.disabled]="!previousPageClass()" (click)="selectedPage(1)">&laquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" [class.disabled]="!previousPageClass()" (click)="previousPage()">&lsaquo;</a>
      </li>

      <li class="page-item"
          *ngIf="!getPages10in10().get(10)?.includes(page)">
        <a class="page-link"
           (click)="selectedPage(total_of_pages-(total_of_pages-1))">
          {{total_of_pages - (total_of_pages - 1)}}</a>
      </li>
      <span class="mx-2 fs-3"
            *ngIf="!getPages10in10().get(10)?.includes(page)">
      ...</span>

      <li class="page-item" *ngFor="let numPgae of pages_per_size">
        <a class="page-link" [ngClass]="page===numPgae?'active':''"
           (click)="selectedPage(numPgae)">{{numPgae}}</a>
      </li>

      <span class="mx-2 fs-3"
            *ngIf="!getPages10in10().get(Array.from(getPages10in10().keys()).length*10)?.includes(page)">
      ...</span>
      <li class="page-item"
          *ngIf="!getPages10in10().get(Array.from(getPages10in10().keys()).length*10)?.includes(page)">
        <a class="page-link" (click)="selectedPage(total_of_pages)">{{total_of_pages}}</a>
      </li>

      <li class="page-item">
        <a class="page-link" [class.disabled]="!nextPageClass()" (click)="nextPage()">&rsaquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link rounded-end" [class.disabled]="!nextPageClass()" (click)="selectedPage(total_of_pages)">&raquo;</a>
      </li>
      <select class="form-select mx-1 d-inline w-auto" aria-label="Page Size" (change)="filterAndOrder()"
              [(ngModel)]="page_size">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="100">100</option>
      </select>
    </ul>


  </div>


</section>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title" id="modal-basic-title">{{objectModal.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body p-0">
    <div class="img-fluid imgProdDetails"
         style="background-image: url('{{objectModal.image}}');"></div>
    <div class="card rounded-0 border-0">
      <!--      <img src="{{objectModal.image}}" alt="Imagen del Producto" class="card-img-top rounded-0 img-fluid">-->

      <div class="card-body">
        <h5 class="card-title">{{objectModal.category.name}}</h5>
        <p class="card-text">{{objectModal.description}}</p>
        <p class="card-text fw-bold" *ngIf="objectModal.visible">USD $ {{objectModal.price.toFixed(2)}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a role="button" class="btn-engimov" (click)="c('Save click')">Cerrar</a>
  </div>
</ng-template>

