<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-flex align-items-center">
  <div class="container d-flex justify-content-center justify-content-md-between">
    <div class="contact-info d-flex align-items-center">
      <i class="bi bi-envelope-fill"></i><a href="mailto:{{enterprise_data[0].email}}">{{enterprise_data[0].email}}</a>
      <i class="bi bi-phone-fill phone-icon"></i> {{enterprise_data[0].tel}}
    </div>
    <div class="social-links d-none d-md-block">
      <a *ngIf="enterprise_data[0].twitter" href="{{enterprise_data[0].twitter}}" class="twitter"><i
        class="bi bi-twitter"></i></a>
      <a *ngIf="enterprise_data[0].facebook" href="{{enterprise_data[0].facebook}}" class="facebook"><i
        class="bi bi-facebook"></i></a>
      <a *ngIf="enterprise_data[0].instagram" href="{{enterprise_data[0].instagram}}" class="instagram"><i
        class="bi bi-instagram"></i></a>
      <a *ngIf="enterprise_data[0].youtube" href="{{enterprise_data[0].youtube}}" class="linkedin"><i
        class="bi bi-youtube"></i></a>
    </div>
  </div>
</section>
