<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info pt-0">
            <h3><img src="../../../../assets/img/engi_logo.png" class="img-fluid w-75"></h3>
            <p>
              <!--              <span *ngIf="enterprise_data[0].city">{{enterprise_data[0].city}}</span> <br>-->
              <!--              {{enterprise_data[0].address}}<br><br>-->
              <a href="tel:{{enterprise_data[0].tel}}" style="color:inherit"
                 *ngIf="enterprise_data[0].tel"><strong>{{'section\.contact\.tel'|translate}}
                :</strong> {{enterprise_data[0].tel}}<br></a>
              <strong>{{'section\.contact\.correo'|translate}}:</strong> <a class="text-white"
                                                                            href="mailto:{{enterprise_data[0].email}}">
              {{enterprise_data[0].email}}</a><br>
            </p>
            <div class="social-links mt-3">
              <a *ngIf="enterprise_data[0].twitter" href="{{enterprise_data[0].twitter}}" class="twitter"><i
                class="bx bxl-twitter"></i></a>
              <a *ngIf="enterprise_data[0].facebook" href="{{enterprise_data[0].facebook}}" class="facebook"><i
                class="bx bxl-facebook"></i></a>
              <a *ngIf="enterprise_data[0].instagram" href="{{enterprise_data[0].instagram}}" class="instagram"><i
                class="bx bxl-instagram"></i></a>
              <a *ngIf="enterprise_data[0].youtube" href="{{enterprise_data[0].youtube}}" class="google-plus"><i
                class="bx bxl-youtube"></i></a>
              <!--              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>-->
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{'footer\.links'|translate}}</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i>
              <a role="button" (click)="navigate('/', '#topbar')">{{'navbar\.start'|translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{'section\.jobs'|translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a role="button" (click)="navigate('/sale_products', '#portfolio')">{{'navbar\.product'|translate}}</a>
            </li>

          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{'footer\.info'|translate}}</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i>
              <a role="button" (click)="navigate('/', '#about')">{{'navbar\.whyus'|translate}}</a></li>
            <li><i class="bx bx-chevron-right"></i>
              <a role="button" (click)="navigate('terms_privacy_police', '#terms')">{{'footer\.servicio'|translate}}</a>
            </li>
            <li><i class="bx bx-chevron-right"></i>
              <a role="button"
                 (click)="navigate('terms_privacy_police', '#privacy')">{{'footer\.privacy'|translate}}</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>{{'section\.resources\.title'|translate}}</h4>
          <ul>
            <li><i class="bx bxs-download"></i> <a
              href="{{enterprise_data[0].doc_folleto_digital}}">{{'section\.resources\.folleto'|translate}}</a>
            </li>
            <li><i class="bx bxs-download"></i> <a
              href="{{enterprise_data[0].doc_presentation}}">{{'section\.resources\.documento'|translate}}</a></li>
          </ul>
        </div>

        <!--        <div class="col-lg-4 col-md-6 footer-newsletter">-->
        <!--          <h4>Our Newsletter</h4>-->
        <!--          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>-->
        <!--          <form action="" method="post">-->
        <!--            <input type="email" name="email"><input type="submit" value="Subscribe">-->
        <!--          </form>-->

        <!--        </div>-->

      </div>
    </div>
  </div>

  <div class="container">
    <!--    <div class="copyright">-->
    <!--      &copy; Copyright <strong><span>Engimov</span></strong>. Todos los derechos reservados-->
    <!--    </div>-->
    <!--    <div class="credits">-->
    <!--      &lt;!&ndash; All the links in the footer should remain intact. &ndash;&gt;-->
    <!--      &lt;!&ndash; You can delete the links only if you purchased the pro version. &ndash;&gt;-->
    <!--      &lt;!&ndash; Licensing information: https://bootstrapmade.com/license/ &ndash;&gt;-->
    <!--      &lt;!&ndash; Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ &ndash;&gt;-->
    <!--      Developed by <a href="https://github.com/zigurat-tech">Zigurat Tech</a>-->
    <!--    </div>-->
    <div class="copyright">
      &copy; Copyright <strong><span>Day</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->
