<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <!--    <h1 class="logo"><a href="index.html">Day</a></h1>-->

    <a role="button" (click)="navigate('/', '#topbar')" class="logo"><img src="../../../../assets/img/engi_logo.png"
                                                                          alt="Logo" class="img-fluid"></a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" (click)="navigate(router.url,'#hero')"
               href="#hero">{{'navbar.start'|translate}}</a></li>
        <li><a class="nav-link scrollto" href="#about"
               (click)="navigate('/', '#about')">{{'navbar.whyus'|translate}}</a></li>
        <li><a class="nav-link scrollto" href="#work_portfolio"
               (click)="navigate('/work_portfolio', '#work_portfolio')">{{'navbar.portfolio'|translate}}</a></li>
        <li class="dropdown"><a role="button"><span>{{'navbar.work'|translate}}</span> <i
          class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a role="button" (click)="navigate('/work_with_us','#works')">
              {{'navbar.offer'|translate}}</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#portfolio"
               (click)="navigate('/sale_products', '#portfolio')">{{'navbar.product'|translate}}</a>
        </li>
        <li style="width: fit-content"><a class="nav-link scrollto" href="#cart" (click)="navigate('/cart', '#cart')">
          <i class="bi bi-cart-plus fs-4"></i>
          <span *ngIf="cart_length"
                class="position-absolute z-3 top-25 start-100 translate-middle badge rounded-pill bg-primary">
                <span [(ngModel)]="cart_length">{{cart_length}}</span>
              </span>
        </a>
        </li>
        <li><a class="nav-link scrollto" href="#contact"
               (click)="navigate('/', '#contact')">{{'navbar.contact'|translate}}</a></li>
        <!--        <li><a class="nav-link" role="button"><i class="bi bi-search fs-4"></i></a></li>-->
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>

</header><!-- End Header -->
