<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <!--    <h1 class="logo"><a href="index.html">Day</a></h1>-->

    <a role="button" (click)="navigate('/', '#topbar')" class="logo"><img src="../../../../assets/img/engi_logo.png"
                                                                          alt="Logo" class="img-fluid"></a>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" (click)="navigate(router.url,'#hero')" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about" (click)="navigate('/', '#about')">Quiénes somos</a></li>
        <li class="dropdown"><a class="scrollto" href="#works" role="button"><span>Trabajos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a routerLink="work_portfolio">Portafolio de trabajos</a></li>
            <li><a role="button" (click)="navigate('/work_with_us','#works')">
              Ofertas de trabajos</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="#portfolio"
               (click)="navigate('/sale_products', '#portfolio')">Productos</a>
        </li>
        <!--        <li class="dropdown"><a role="button"><span>Productos</span> <i class="bi bi-chevron-down"></i></a>-->
        <!--          <ul>-->
        <!--            <li><a routerLink="/portfolio_products">Portafolio de productos</a></li>-->
        <!--            <li><a routerLink="/sale_products">Productos en venta</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
        <li><a class="nav-link" role="button">
          <i class="bi bi-cart-plus fs-4"></i>
          <span class="position-absolute z-3 top-25 start-100 translate-middle badge rounded-pill bg-primary">
                <span>99</span>
              </span>
        </a>
        </li>
        <li><a class="nav-link scrollto" href="#contact" (click)="navigate('/', '#contact')">Contacto</a></li>
        <li><a class="nav-link" role="button"><i class="bi bi-search fs-4"></i></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>

</header><!-- End Header -->
