<ul ngbNav #nav="ngbNav" [(activeId)]="work.active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>{{'section\.card\.desc'|translate}}</button>
    <ng-template ngbNavContent>
      <div class="card">
        <div class="row g-0">
          <!--          <div class="col-4">
                      <div class="square-container text-center div-img-product rounded-start"
                           style="background-image: url({{work.image}});">
                      </div>
                    </div>-->
          <div class="col-12">
            <div class="card-body">
              <h5 class="card-title text-center">{{work.name}}</h5>
              <!--              <p class="card-text">{{work.description}}</p>-->
              <div [innerHTML]="safeHtmlContent"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>{{'work_with_us\.cantera'|translate}}</button>
    <ng-template ngbNavContent>
      <app-cantera-de-empleo [work]="work"></app-cantera-de-empleo>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>{{'work_with_us\.comercial'|translate}}</button>
    <ng-template ngbNavContent>
      <app-contacto-comercial [work]="work"></app-contacto-comercial>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
