<ul ngbNav #nav="ngbNav" [(activeId)]="work.active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Descripción</button>
    <ng-template ngbNavContent>
      <div class="card">
        <div class="row g-0">
          <!--          <div class="col-4">
                      <div class="square-container text-center div-img-product rounded-start"
                           style="background-image: url({{work.image}});">
                      </div>
                    </div>-->
          <div class="col-12">
            <div class="card-body">
              <h5 class="card-title text-center">{{work.name}}</h5>
              <!--              <p class="card-text">{{work.description}}</p>-->
                <div [innerHTML]="safeHtmlContent"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Cantera de Empleo</button>
    <ng-template ngbNavContent>
      <app-cantera-de-empleo [work]="work"></app-cantera-de-empleo>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Contacto comercial</button>
    <ng-template ngbNavContent>
      <p>
        Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
        facilisi.
        Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue
        et
        odio.
        Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed
        diam
        urna,
        egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl
        enim,
        nec
        tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque
        penatibus
        et
        magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in
        eget
        neque. Phasellus nec tortor vel tellus pulvinar feugiat.
      </p>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
