<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <!--    <h1 class="logo"><a href="index.html">Day</a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo"><img src="assets/img/engi_logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Quiénes somos</a></li>
        <!--        <li><a class="nav-link scrollto" href="#services">Productos</a></li>-->
        <li class="dropdown"><a href="#"><span>Trabajos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Portafolio de trabjaos</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Productos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Portafolio de productos</a></li>
            <li><a href="#">Productos en venta</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!--        <li><a class="nav-link scrollto " href="#portfolio">Trabajos</a></li>-->
        <!--        <li><a class="nav-link scrollto" href="#pricing">Trabaja con nosotros</a></li>-->
        <!--        <li><a class="nav-link scrollto" href="#team">Contacto</a></li>-->
        <li><a class="nav-link scrollto" href="#">
          <i class="bi bi-cart-plus fs-4"></i>
          <span class="position-absolute z-3 top-25 start-100 translate-middle badge rounded-pill bg-primary">
            <span>99</span>
          </span>
        </a></li>
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        <li><a class="nav-link scrollto" role="button"><i  class="bi bi-search fs-4"></i></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
<!--<nav class="navbar navbar-expand-md navbar-light bg-light" id="navbar">
  <div class="container-fluid">
    <span class="navbar-brand">Dropdowns in navbar</span>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button"> Static </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button"> Static right </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-end">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
          </div>
        </li>

        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-end">
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button"> Dynamic </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>-->
</header><!-- End Header -->
