<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <!--    <h1 class="logo"><a href="index.html">Day</a></h1>-->
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="index.html" class="logo"><img src="assets/img/engi_logo.png" alt="" class="img-fluid"></a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
        <li><a class="nav-link scrollto" href="#about">Quiénes somos</a></li>
        <!--        <li><a class="nav-link scrollto" href="#services">Productos</a></li>-->
        <li class="dropdown"><a href="#"><span>Trabajos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Portafolio de trabjaos</a></li>
            <li><a href="#">Trabaja con nosotros</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown"><a href="#"><span>Productos</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Portafolio de productos</a></li>
            <li><a href="#">Productos en venta</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!--        <li><a class="nav-link scrollto " href="#portfolio">Trabajos</a></li>-->
        <!--        <li><a class="nav-link scrollto" href="#pricing">Trabaja con nosotros</a></li>-->
        <!--        <li><a class="nav-link scrollto" href="#team">Contacto</a></li>-->
        <li><a class="nav-link scrollto" href="#">
          <i class="bi bi-cart-plus fs-4"></i>
          <span class="position-absolute z-3 top-25 start-100 translate-middle badge rounded-pill bg-primary">
            <span>99</span>
          </span>
          <!--          <span class="position-absolute z-3 bottom-25 start-50 translate-middle badge rounded-pill bg-primary">-->
          <!--            <span>$12345</span>-->
          <!--          </span>-->
        </a></li>
        <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        <li><a class="nav-link scrollto" role="button"><i  class="bi bi-search fs-4"></i></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
