<app-toast></app-toast>
<section id="cta" class="cta">
  <div class="container-xl" data-aos="zoom-in">

    <div class="text-center">
      <h3>Recursos Descargables</h3>
      <p> Descarga nuestro folleto digital informativo y nuestra carta de presentación corporativa para obtener más
        información sobre nuestros servicios y conocer mejor nuestra empresa. Simplemente haz clic en los botones a
        continuación para acceder a los documentos.</p>
      <div class="row">
        <div class="col-12 col-md-6">
          <!--          <h6>Folleto Digital</h6>-->
          <a class="cta-btn" href="{{enterprise_data[0].doc_folleto_digital}}" download>
            <i class="bx bxs-download"></i> Folleto Digital</a>
        </div>
        <div class="col-12 col-md-6">
          <!--          <h6>Documento de Presentación</h6>-->
          <a class="cta-btn" href="{{enterprise_data[0].doc_presentation}}" download>
            <i class="bx bxs-download"></i> Documento de Presentación</a>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Cta Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <span>{{title}}</span>
      <h2>{{title}}</h2>
      <p>{{subtitle}}</p>
    </div>

    <div class="row" data-aos="fade-up">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-12">
            <div class="info-box mb-4">
              <a href="{{enterprise_data[0].location}}" style="color:inherit" target="_blank">
                <i class="bx bx-map"></i>
                <h3 *ngIf="enterprise_data[0].city">{{enterprise_data[0].city}}</h3>
                <p>{{enterprise_data[0].address}}</p>
              </a>
            </div>
          </div>
          <div [ngClass]="enterprise_data[0].tel ? 'col-6': 'col-12'">
            <div class="info-box  mb-4">
              <a href="mailto:{{enterprise_data[0].email}}" style="color:inherit">
                <i class="bx bx-envelope"></i>
                <h3>Correo</h3>
                <p>{{enterprise_data[0].email}}</p>
              </a>
            </div>
          </div>
          <div class="col-6" *ngIf="enterprise_data[0].tel">
            <div class="info-box  mb-4">
              <a href="tel:{{enterprise_data[0].tel}}" style="color:inherit">
                <i class="bx bx-phone-call"></i>
                <h3>Teléfono</h3>
                <p>{{enterprise_data[0].tel}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-loader *ngIf="!loading"></app-loader>
      <div *ngIf="loading" class="col-lg-6">
        <form method="post" role="form" (ngSubmit)="onSubmit($event)" [formGroup]="contactForm"
              class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input type="text" formControlName="name" name="name" class="form-control" id="name"
                     placeholder="Nombre"
                     required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
              <input type="email" formControlName="email" class="form-control" name="email" id="email"
                     placeholder="Correo" required>
            </div>
          </div>
          <div class="form-group mt-3">
            <input type="text" class="form-control" formControlName="subject" name="subject" id="subject"
                   placeholder="Asunto" required>
          </div>
          <div class="form-group mt-3">
            <textarea class="form-control" formControlName="text" name="text" rows="5" placeholder="Mensaje"
                      required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center">
            <button type="submit" [style.background]="!contactForm.invalid ? '#cc1616': '#444444'"
                    [disabled]="contactForm.invalid">
              <span *ngIf="loadingForm" class="spinner-border spinner-border-sm" role="status"
                    aria-hidden="true"></span> Enviar
            </button>
          </div>
        </form>
      </div>
    </div>

    <!--    <div class="row" data-aos="fade-up">
          <div *ngIf="loading" class="col-lg-6 ">
            &lt;!&ndash;        <iframe class="mb-4 mb-lg-0"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                            frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>&ndash;&gt;
            &lt;!&ndash;        <div [innerHTML]="safeHtmlContent"></div>&ndash;&gt;
            <iframe class="mb-4 mb-lg-0"
                    src="{{enterprise_data[0].location}}"
                    frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            <a href="{{enterprise_data[0].location}}">click aki chama</a>
          </div>
        </div>-->

  </div>
</section><!-- End Contact Section -->
