<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container-xl">

    <div class="section-title">
      <span>{{headerProducts.title}}</span>
      <h2>{{headerProducts.title}}</h2>
      <p *ngIf="headerProducts.subtitle">{{headerProducts.subtitle}}</p>
    </div>
    <div class="row" data-aos="fade-up" *ngIf="listCategories.length">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="portfolio-flters">
          <li data-filter="*" class="filter-active" (click)="filterProducts('*',0 )">Todos</li>
          <li *ngFor="let cat of listCategories;let i=index" class="" [attr.data-filter]="'.a' + cat.id"
              (click)="filterProducts(cat.id.toString(),i+1)">{{cat.name}}</li>
        </ul>
      </div>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150" >

      <div class="col-lg-4 col-md-6 portfolio-item background-image text-center {{prod.category.id}}"
           *ngFor="let prod of listProducts">
        <img src="{{prod.image}}" class="img-fluid" alt="">
        <div class="portfolio-info">
          <h4>{{prod.name}}</h4>
          <br>
          <p>{{prod.short_description}}</p>
          <a data-gallery="portfolioGallery" role="button" (click)="openModal(content, prod)"
             class="portfolio-lightbox preview-link" [attr.title]="prod.description"><i class="bx bx-search-alt-2"></i></a>
          <!--          <a href="portfolio-details.html" class="details-link" title="Más detalles"><i class="bx bx-link"></i></a>-->
        </div>
      </div>
    </div>

  </div>
</section><!-- End Portfolio Section -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header border-bottom-0">
    <h4 class="modal-title" id="modal-basic-title">{{objectModal.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <div class="modal-body p-0">
    <div class="img-fluid imgProdDetails"
         style="background: url('{{objectModal.image}}');"></div>
    <div class="card rounded-0 border-0">
      <!--      <img src="{{objectModal.image}}" alt="Imagen del Producto" class="card-img-top rounded-0 img-fluid">-->

      <div class="card-body">
        <h5 class="card-title">{{objectModal.category.name}}</h5>
        <p class="card-text">{{objectModal.description}}</p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a role="button" class="btn-engimov" (click)="c('Save click')">Cerrar</a>
  </div>
</ng-template>

